
@media screen and (min-width: 1200px) { 

	#capital{
		height: 500px;
	}
	
} 



@media screen and (max-width: 1200px) { 

	#capital{
		height: 400px;
		display: block;
		width:100%;
	}
	
	.content{
	
		margin-top: 20px;
	}

} 

#containerCapital{
	
	margin-top: 50px;	
}





