
@media screen and (min-width: 1200px) { 
	#payReport1, #payReport2{
	
		height: 500px;
	}
	
	.report-container{
	
		display: block;
		width:100%;
	}
	
	.content{
	
		margin-top: 50px;
	}
	
	
} 



@media screen and (max-width: 1200px) { 
	#payReport1, #payReport2{
		
		height: 400px;
	}
	.report-container{
		
		display: block;
		width:100%;
	}
	
	.content{
	
		margin-top: 20px;
	}

} 

#payReport1, #payReport2{
	
	margin-top: 50px;
}






